/*.libro-card {
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8;
  padding: 50px;
  border-radius: 8px;
}

.libro-image {
  height: 0;
  padding-top: 50%;
}*/
/*
.libro-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  color:#333
}

.libro-description {
  font-size: 14px;
  color: #333;
}
*/